body{
    font-family: Tahoma;
}
h1{
    text-align: center;
    color:darkslateblue;
}
nav{
    padding: 20px;
    background-color: steelblue;
    text-align: center;
    border-radius: 0.5em;
}

a{
    color: white;
    padding: 0.5em;
    text-decoration: none;
    font-size:large;
    /*border: 1px solid white;*/
}
a:hover{
    color:black;
    background-color:lemonchiffon;
    border-radius: 0.25em;
    transition: 0.5s;
}